<div class="flex flex-col gap-2 p-10">
  <h2 class="font-semibold">Variants</h2>
  <div class="flex gap-2">
    <!-- Filled button -->
    <button
      class="rounded-md bg-purple-600 p-5 py-2 text-purple-50 hover:bg-purple-700 active:bg-purple-800"
    >
      Filled
    </button>
    <!-- Rounded button -->
    <button
      class="rounded-full bg-purple-600 p-5 py-2 text-purple-50 hover:bg-purple-700 active:bg-purple-800"
    >
      Rounded
    </button>
    <!-- Outlined button -->
    <button
      class="rounded-md border-2 border-purple-200 p-5 py-2 text-purple-600 hover:border-purple-400 active:border-purple-600 active:bg-purple-200"
    >
      Outlined
    </button>
    <!--Borderless button-->
    <button
      class="rounded-md p-5 py-2 text-purple-600 hover:bg-purple-200 active:bg-purple-100"
    >
      Borderless
    </button>
  </div>

  <h2 class="font-semibold">Sizes</h2>
  <div class="flex items-end gap-2">
    <!-- Normal size button -->
    <button
      class="rounded-md bg-purple-600 p-5 py-2 text-purple-50 hover:bg-purple-700 active:bg-purple-800"
    >
      Normal
    </button>
    <!-- Medium size button -->
    <button
      class="h-8 rounded-md bg-purple-600 p-4 py-0 text-sm text-purple-50 hover:bg-purple-700 active:bg-purple-800"
    >
      Medium
    </button>
    <!-- Medium size button -->
    <button
      class="h-6 rounded-md bg-purple-600 p-2 py-0 text-xs text-purple-50 hover:bg-purple-700 active:bg-purple-800"
    >
      Small
    </button>
  </div>

  <h2 class="font-semibold">Icon</h2>
  <div class="flex gap-2">
    <!-- Button with start icon -->
    <button
      class="flex items-center gap-4 whitespace-nowrap rounded-md bg-purple-600 p-5 py-2 text-purple-50 hover:bg-purple-700 active:bg-purple-800"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        viewBox="0 0 24 24"
      >
        <path
          fill="#fff"
          d="M0 21.398c5.504.456 3.533-5.392 8.626-5.445l2.206 1.841c.549 6.645-7.579 8.127-10.832 3.604zm16.878-8.538c1.713-2.687 7.016-11.698 7.016-11.698.423-.747-.515-1.528-1.17-.976 0 0-7.887 6.857-10.213 9.03-1.838 1.719-1.846 2.504-2.441 5.336l2.016 1.681c2.67-1.098 3.439-1.248 4.792-3.373z"
        />
      </svg>
      Start icon
    </button>
    <!-- Button with end icon -->
    <button
      class="flex items-center gap-4 whitespace-nowrap rounded-md bg-purple-600 p-5 py-2 text-purple-50 hover:bg-purple-700 active:bg-purple-800"
    >
      End icon
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        viewBox="0 0 24 24"
      >
        <path
          fill="#fff"
          d="M0 21.398c5.504.456 3.533-5.392 8.626-5.445l2.206 1.841c.549 6.645-7.579 8.127-10.832 3.604zm16.878-8.538c1.713-2.687 7.016-11.698 7.016-11.698.423-.747-.515-1.528-1.17-.976 0 0-7.887 6.857-10.213 9.03-1.838 1.719-1.846 2.504-2.441 5.336l2.016 1.681c2.67-1.098 3.439-1.248 4.792-3.373z"
        />
      </svg>
    </button>
  </div>
</div>
