<div class="flex flex-col gap-2 p-10">
  <h2 class="font-semibold">Variants</h2>
  <div class="flex gap-2">
    <!-- Outline -->
    <input
      type="text"
      class="outline-none rounded-md border-2 border-purple-200 p-2 text-gray-600 focus:border-purple-400"
    />
    <!-- Filled -->
    <input
      class="outline-none rounded-md bg-purple-50 p-2 text-gray-600 focus:border-2 focus:border-purple-400"
    />
    <!-- Filled bottom border -->
    <input
      class="outline-none rounded-t-md border-b-2 border-purple-200 bg-purple-50 p-2 text-gray-600 focus:border-purple-400"
    />
    <!-- Bottom border -->
    <input
      class="outline-none rounded-t-md border-b-2 border-purple-200 p-2 text-gray-600 focus:border-purple-400"
    />
  </div>
  <h2 class="font-semibold">Icon</h2>
  <div class="flex gap-2">
    <!-- Outline -->
    <div
      class="relative flex items-center justify-center gap-2 rounded-md border-2 px-2 text-gray-600 focus-within:border-purple-400"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        viewBox="0 0 24 24"
      >
        <path
          fill="#black"
          d="M0 21.398c5.504.456 3.533-5.392 8.626-5.445l2.206 1.841c.549 6.645-7.579 8.127-10.832 3.604zm16.878-8.538c1.713-2.687 7.016-11.698 7.016-11.698.423-.747-.515-1.528-1.17-.976 0 0-7.887 6.857-10.213 9.03-1.838 1.719-1.846 2.504-2.441 5.336l2.016 1.681c2.67-1.098 3.439-1.248 4.792-3.373z"
        />
      </svg>
      <input class="outline-none h-full rounded-md" type="text" />
    </div>
    <!-- Filled -->
    <div
      class="relative flex items-center justify-center gap-2 rounded-md border-2 border-purple-50 bg-purple-50 p-2 px-2 text-gray-600 focus-within:border-purple-400 focus:border-purple-400"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        viewBox="0 0 24 24"
      >
        <path
          fill="#black"
          d="M0 21.398c5.504.456 3.533-5.392 8.626-5.445l2.206 1.841c.549 6.645-7.579 8.127-10.832 3.604zm16.878-8.538c1.713-2.687 7.016-11.698 7.016-11.698.423-.747-.515-1.528-1.17-.976 0 0-7.887 6.857-10.213 9.03-1.838 1.719-1.846 2.504-2.441 5.336l2.016 1.681c2.67-1.098 3.439-1.248 4.792-3.373z"
        />
      </svg>
      <input class="outline-none h-full rounded-md bg-purple-50" />
    </div>
  </div>
  <h2 class="font-semibold">Textareas</h2>
  <div class="flex gap-2">
    <textarea
      type="text"
      class="outline-none rounded-md border-2 border-purple-200 p-2 text-gray-600 focus:border-purple-400"
    ></textarea>
    <textarea
      class="outline-none rounded-md border-2 border-purple-50 bg-purple-50 p-2 text-gray-600 focus:border-purple-400"
    ></textarea>
  </div>
</div>
