<style>
  .dot-bg {
    background: white;
    background-image: radial-gradient(hsl(0deg, 0%, 90%) 1px, transparent 0);
    background-size: 22px 22px;
    background-position: -19px -19px;
  }
</style>
<div>
  <header class="sticky top-0 z-20 bg-white shadow-lg">
    <div class="flex items-center justify-between">
      <div class="flex gap-2 p-6">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="rgba(29, 78, 216)" viewBox="0 0 24 24">
          <path
            d="M10 2h-2v-2h2v2zm-8 6h-2v2h2v-2zm0-5c0-.551.448-1 1-1h4v-2h-4c-1.657 0-3 1.343-3 3v4h2v-4zm0 8h-2v2h2v-2zm14-11h-2v2h2v-2zm-3 0h-2v2h2v-2zm-11 14h-2v2h2v-2zm18-2.042h-2.277l-2.36 5.386-2.883-7.93-2.442 5.78-2.071-4.14-1.129 1.966h-2.838v6.98h16v-8.042zm-16 .063h2.259l1.768-3.081 1.935 3.866 2.589-6.126 2.899 7.976 1.62-3.697h2.93v-6.959h-16v8.021zm10 11.979h2v-2h-2v2zm8-11h2v-2h-2v2zm-20 8v-4h-2v4c0 1.657 1.343 3 3 3h4v-2h-4c-.552 0-1-.449-1-1zm20 0c0 .551-.448 1-1 1h-4v2h4c1.657 0 3-1.343 3-3v-4h-2v4zm0-11h2v-2h-2v2zm0 6h2v-2h-2v2zm2-13c0-1.657-1.343-3-3-3h-4v2h4c.552 0 1 .449 1 1v4h2v-4zm-16 21h2v-2h-2v2zm3 0h2v-2h-2v2z" />
        </svg>
        <div class="text-lg font-bold">Company Name</div>
      </div>
      <div id="menubutton" class="pr-6 cursor-pointer md:invisible md:absolute">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path d="M24 6h-24v-4h24v4zm0 4h-24v4h24v-4zm0 8h-24v4h24v-4z" />
        </svg>
      </div>
      <nav class="hidden py-6 pr-24 space-x-12 md:block">
        <a href="#" class="font-medium text-blue-700 hover:text-gray-900">
          Product
        </a>
        <a href="#" class="font-medium text-gray-700 hover:text-gray-900">
          Features
        </a>
        <a href="#" class="font-medium text-gray-700 hover:text-gray-900">
          Pricing
        </a>
        <a href="#" class="font-medium text-gray-700 hover:text-gray-900">
          About
        </a>
      </nav>

    </div>

    <nav id="menu" class="absolute flex flex-col invisible w-full gap-4 pb-4 pl-4 text-lg bg-white shadow-lg">
      <a href="#" class="font-medium text-blue-700 hover:text-gray-900">
        Product
      </a>
      <a href="#" class="font-medium text-gray-700 hover:text-gray-900">
        Features
      </a>
      <a href="#" class="font-medium text-gray-700 hover:text-gray-900">
        Pricing
      </a>
      <a href="#" class="font-medium text-gray-700 hover:text-gray-900">
        About
      </a>
    </nav>
  </header>

  <main>

    <section class="relative p-0 bg-blue-700 md:p-8 xl:p-24 xl:pt-40 xl:pb-40">
      <div class="flex flex-col justify-between m-auto max-w-7xl">
        <div class="p-6 md:pr-8 xl:pr-24 md:w-1/2">

          <h1 class="pt-8 pb-8 text-5xl font-bold text-white lg:text-6xl">
            Call to action
          </h1>
          <p class="w-full pt-2 pb-4 text-gray-200 ">
            Anim aute id magna aliqua ad ad non deserunt sunt. Qui irure qui lorem
            cupidatat commodo. Elit sunt amet fugiat veniam occaecat fugiat
            aliqua.
          </p>
          <div class="flex flex-col gap-2 pt-4 pb-4 lg:flex-row">
            <input class="box-border p-4 rounded-md lg:w-56" placeholder="Your email address""></input>
        <button class="p-4 text-base font-semibold text-gray-900 bg-yellow-300 rounded-lg  hover:bg-yellow-400">
            Start your 7-day trial
            </button>
          </div>
        </div>


      </div>
      <div class="inset-y-0 right-0 w-full md:absolute md:w-1/2">
        <img class="object-cover w-full h-full" src="https://source.unsplash.com/46bom4lObsA/1920x1279" />
      </div>
    </section>
    <section class="p-16 pt-40 pb-40 text-gray-700 bg-gray-50">
      <div class="m-auto max-w-7xl">
        <dl class="grid grid-cols-1 gap-8 pt-10 pb-10 m-auto md:grid-cols-2 lg:grid-cols-3">
          <div class="flex flex-col items-center p-8 text-center">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-building-store" width="64"
              height="64" viewBox="0 0 24 24" stroke-width="1.5" stroke="#00abfb" fill="none" stroke-linecap="round"
              stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <line x1="3" y1="21" x2="21" y2="21" />
              <path d="M3 7v1a3 3 0 0 0 6 0v-1m0 1a3 3 0 0 0 6 0v-1m0 1a3 3 0 0 0 6 0v-1h-18l2 -4h14l2 4" />
              <line x1="5" y1="21" x2="5" y2="10.85" />
              <line x1="19" y1="21" x2="19" y2="10.85" />
              <path d="M9 21v-4a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v4" />
            </svg>
            <dt class="text-2xl">Build your own</dt>
            <dd class="pt-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ex risus. </dd>
          </div>
          <div class="flex flex-col items-center p-8 text-center">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-battery-4" width="64"
              height="64" viewBox="0 0 24 24" stroke-width="1.5" stroke="#00abfb" fill="none" stroke-linecap="round"
              stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path
                d="M6 7h11a2 2 0 0 1 2 2v.5a0.5 .5 0 0 0 .5 .5a0.5 .5 0 0 1 .5 .5v3a0.5 .5 0 0 1 -.5 .5a0.5 .5 0 0 0 -.5 .5v.5a2 2 0 0 1 -2 2h-11a2 2 0 0 1 -2 -2v-6a2 2 0 0 1 2 -2" />
              <line x1="7" y1="10" x2="7" y2="14" />
              <line x1="10" y1="10" x2="10" y2="14" />
              <line x1="13" y1="10" x2="13" y2="14" />
              <line x1="16" y1="10" x2="16" y2="14" />
            </svg>
            <dt class="text-2xl">Batteries included</dt>
            <dd class="pt-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ex risus. </dd>
          </div>
          <div class="flex flex-col items-center p-8 text-center">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-bus" width="64" height="64"
              viewBox="0 0 24 24" stroke-width="1" stroke="#00abfb" fill="none" stroke-linecap="round"
              stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <circle cx="6" cy="17" r="2" />
              <circle cx="18" cy="17" r="2" />
              <path d="M4 17h-2v-11a1 1 0 0 1 1 -1h14a5 7 0 0 1 5 7v5h-2m-4 0h-8" />
              <polyline points="16 5 17.5 12 22 12" />
              <line x1="2" y1="10" x2="17" y2="10" />
              <line x1="7" y1="5" x2="7" y2="10" />
              <line x1="12" y1="5" x2="12" y2="10" />
            </svg>
            <dt class="text-2xl">Fast deployment</dt>
            <dd class="pt-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ex risus. </dd>
          </div>
        </dl>

      </div>
    </section>
    <section class="bg-blue-50">
      <div class="p-8 pt-40 pb-40 ml-auto mr-auto max-w-7xl">
        <div class="max-w-2xl m-auto text-center">
          <h2 class="m-auto text-4xl font-semibold text-center text-gray-800">Multiple pricing options</h2>
          <p class="pt-4 text-gray-700">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ex risus,
            eleifend in nibh gravida, facilisis fringilla neque. </p>
        </div>
        <p></p>
        <div class="grid grid-cols-1 gap-4 m-auto mt-20 rounded-md md:grid-cols-3 md:gap-0">
          <div class="flex flex-col p-8 pt-0 text-center bg-white rounded-md shadow-sm">
            <div class="pt-4 pb-4 -ml-8 -mr-8 text-lg text-gray-600 uppercase bg-gray-200 rounded-t-md">Basic</div>
            <div class="flex items-center justify-center gap-2 p-8">
              <span class="text-5xl font-bold text-gray-700">$99</span>
              <span class="text-2xl font-semibold text-gray-400">/ mo</span>
            </div>
            <ul class="flex flex-col items-start gap-2 pb-8 ml-auto mr-auto">
              <li>✓ Some basic feature</li>
              <li>✓ Lorem ipsum</li>
              <li>✓ Lorem ipsum</li>
              <li>✓ Lorem ipsum</li>
            </ul>
            <button
              class="w-full p-2 pl-4 pr-4 mt-auto text-base font-semibold text-white bg-gray-600 rounded-md hover:bg-gray-800">
              Sign up
            </button>
          </div>
          <div class="z-10 flex flex-col p-8 pt-0 text-center bg-white rounded-md shadow-lg md:-m-4">
            <div class="pt-4 pb-4 -ml-8 -mr-8 text-lg text-white uppercase bg-blue-600 rounded-t-md">Professional</div>
            <div class="flex items-center justify-center gap-2 p-8">
              <span class="text-5xl font-bold text-gray-700">$149</span>
              <span class="text-2xl font-semibold text-gray-400">/ mo</span>
            </div>
            <ul class="flex flex-col items-start gap-2 pb-8 ml-auto mr-auto">
              <li><span class="font-semibold text-blue-600">✓</span> All features from Basic</li>
              <li><span class="text-blue-600">✓</span> Lorem ipsum</li>
              <li><span class="text-blue-600">✓</span> Lorem ipsum</li>
              <li><span class="text-blue-600">✓</span> Lorem ipsum</li>
              <li><span class="text-blue-600">✓</span> Lorem ipsum</li>
            </ul>
            <button
              class="w-full p-2 pl-4 pr-4 mt-10 text-base font-semibold text-white bg-blue-600 rounded-md hover:bg-blue-800">
              Sign up
            </button>
          </div>
          <div class="flex flex-col p-8 pt-0 text-center bg-white rounded-md shadow-sm">
            <div class="pt-4 pb-4 -ml-8 -mr-8 text-lg text-gray-600 uppercase bg-gray-200 rounded-t-md">Enterprise</div>
            <div class="flex items-center justify-center gap-2 p-8">
              <span class="text-5xl font-bold text-gray-700">$299</span>
              <span class="text-2xl font-semibold text-gray-400">/ mo</span>
            </div>
            <ul class="flex flex-col items-start gap-2 pb-8 ml-auto mr-auto">
              <li>✓ All features from previous tiers</li>
              <li>✓ Lorem ipsum</li>
              <li>✓ Lorem ipsum</li>
              <li>✓ Lorem ipsum</li>
            </ul>
            <button
              class="w-full p-2 pl-4 pr-4 mt-auto text-base font-semibold text-white bg-gray-600 rounded-md hover:bg-gray-800">
              Sign up
            </button>
          </div>
        </div>
      </div>
    </section>
    <section class="p-8 pt-40 pb-40 dot-bg">
      <div class="flex flex-col m-auto max-w-7xl">
        <div class="pb-10 m-auto text-center">
          <h2 class="m-auto text-4xl font-semibold text-center ">Testimonials</h2>
          <p class="pt-4 text-gray-700">This is what people have to say about our product</p>
        </div>
        <div class="flex flex-col w-2/3 gap-8 pb-10 m-auto">
          <div class="flex flex-col max-w-3xl gap-4 md:flex-row">
            <img class="object-cover w-32 h-32 m-auto shadow-lg md:m-0 rounded-3xl bg-gray-50"
              src="https://source.unsplash.com/AzVexpHvuKY/640x959" />
            <div class="flex flex-col items-center justify-center max-w-xl text-center md:text-left md:items-start">
              <p class="text-lg italic">"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ex risus,
                eleifend in nibh gravida"</p>
              <span class="font-bold">John Doe</span>
            </div>
          </div>
          <div class="flex flex-col max-w-3xl gap-4 md:flex-row">
            <img class="object-cover w-32 h-32 m-auto shadow-lg md:m-0 rounded-3xl bg-gray-50"
              src="https://source.unsplash.com/84E44EdD18o/640x959" />
            <div class="flex flex-col items-center justify-center max-w-xl text-center md:text-left md:items-start">
              <p class="text-lg italic">"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ex risus,
                eleifend in nibh gravida"</p>
              <span class="font-bold">John Doe</span>
            </div>
          </div>

        </div>
      </div>
    </section>
    <section class="flex flex-col p-8 pt-40 pb-40 bg-gray-100">
      <div class="max-w-2xl pb-10 m-auto text-center">
        <h2 class="m-auto text-4xl font-semibold text-center ">Frequently asked questions</h2>
      </div>
      <div class="flex flex-col max-w-3xl gap-16 m-auto">
        <div>
          <h4 class="pb-4 font-bold">What is the pricing like?</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis mollis metus. Cras egestas lacus at enim
            maximus, eget scelerisque massa congue. Nulla facilisi.</p>
        </div>
        <div>
          <h4 class="pb-4 font-bold">What is the pricing like?</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis mollis metus. Cras egestas lacus at enim
            maximus, eget scelerisque massa congue. Nulla facilisi.</p>
        </div>
        <div>
          <h4 class="pb-4 font-bold">What is the pricing like?</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis mollis metus. Cras egestas lacus at enim
            maximus, eget scelerisque massa congue. Nulla facilisi.</p>
        </div>
        <div>
          <h4 class="pb-4 font-bold">What is the pricing like?</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis mollis metus. Cras egestas lacus at enim
            maximus, eget scelerisque massa congue. Nulla facilisi.</p>
        </div>

      </div>
    </section>


    <section class="p-10 pt-40 pb-40">
      <div class="max-w-xl m-auto">
        <p class="text-2xl text-center">Join our newsletter and get invaluable tips!</p>
        <div class="flex flex-col w-full gap-2 pt-8 pb-4 md:flex-row">
          <input class="box-border w-full p-4 border-2 rounded-md" placeholder="Your email address""></input>
        <button class="p-4 text-base font-semibold text-gray-900 bg-yellow-300 rounded-lg  md:w-72 hover:bg-yellow-400">
          Subscribe
          </button>
        </div>
      </div>
    </section>


  </main>
  <footer class="p-8 pt-16 pb-16 text-white bg-blue-600">
    <div class="flex flex-row justify-between m-auto max-w-7xl">
      <ul>
        <li class="flex gap-2 pb-6">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="white" viewBox="0 0 24 24">
            <path
              d="M10 2h-2v-2h2v2zm-8 6h-2v2h2v-2zm0-5c0-.551.448-1 1-1h4v-2h-4c-1.657 0-3 1.343-3 3v4h2v-4zm0 8h-2v2h2v-2zm14-11h-2v2h2v-2zm-3 0h-2v2h2v-2zm-11 14h-2v2h2v-2zm18-2.042h-2.277l-2.36 5.386-2.883-7.93-2.442 5.78-2.071-4.14-1.129 1.966h-2.838v6.98h16v-8.042zm-16 .063h2.259l1.768-3.081 1.935 3.866 2.589-6.126 2.899 7.976 1.62-3.697h2.93v-6.959h-16v8.021zm10 11.979h2v-2h-2v2zm8-11h2v-2h-2v2zm-20 8v-4h-2v4c0 1.657 1.343 3 3 3h4v-2h-4c-.552 0-1-.449-1-1zm20 0c0 .551-.448 1-1 1h-4v2h4c1.657 0 3-1.343 3-3v-4h-2v4zm0-11h2v-2h-2v2zm0 6h2v-2h-2v2zm2-13c0-1.657-1.343-3-3-3h-4v2h4c.552 0 1 .449 1 1v4h2v-4zm-16 21h2v-2h-2v2zm3 0h2v-2h-2v2z" />
          </svg>
          <div class="text-lg font-bold">Computer Company</div>
        </li>
        <li class="flex items-center gap-2">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-twitter" width="20"
            height="20" viewBox="0 0 24 24" stroke-width="1" stroke="#ffffff" fill="none" stroke-linecap="round"
            stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path
              d="M22 4.01c-1 .49 -1.98 .689 -3 .99c-1.121 -1.265 -2.783 -1.335 -4.38 -.737s-2.643 2.06 -2.62 3.737v1c-3.245 .083 -6.135 -1.395 -8 -4c0 0 -4.182 7.433 4 11c-1.872 1.247 -3.739 2.088 -6 2c3.308 1.803 6.913 2.423 10.034 1.517c3.58 -1.04 6.522 -3.723 7.651 -7.742a13.84 13.84 0 0 0 .497 -3.753c-.002 -.249 1.51 -2.772 1.818 -4.013z" />
          </svg>
          <a href="#">Twitter</a>
        </li>
        <li class="flex items-center gap-2">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-linkedin" width="20"
            height="20" viewBox="0 0 24 24" stroke-width="1" stroke="#ffffff" fill="none" stroke-linecap="round"
            stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <rect x="4" y="4" width="16" height="16" rx="2" />
            <line x1="8" y1="11" x2="8" y2="16" />
            <line x1="8" y1="8" x2="8" y2="8.01" />
            <line x1="12" y1="16" x2="12" y2="11" />
            <path d="M16 16v-3a2 2 0 0 0 -4 0" />
          </svg>
          <a href="#">LinkedIn</a>
        </li>
        <li class="flex items-center gap-2">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-facebook" width="20"
            height="20" viewBox="0 0 24 24" stroke-width="1" stroke="#ffffff" fill="none" stroke-linecap="round"
            stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M7 10v4h3v7h4v-7h3l1 -4h-4v-2a1 1 0 0 1 1 -1h3v-4h-3a5 5 0 0 0 -5 5v2h-3" />
          </svg>
          <a href="#">Facebook</a>
        </li>
        <li class="flex items-center gap-2">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-instagram" width="20"
            height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round"
            stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <rect x="4" y="4" width="16" height="16" rx="4" />
            <circle cx="12" cy="12" r="3" />
            <line x1="16.5" y1="7.5" x2="16.5" y2="7.501" />
          </svg>
          <a href="#">Instagram</a>
        </li>
      </ul>
      <ul class="flex flex-col gap-2 pt-8 text-white">
        <li><a href="#" class="font-medium text-white hover:text-blue-50">
            Product
          </a></li>
        <li><a href="#" class="font-medium text-white hover:text-blue-50">
            Features
          </a></li>
        <li><a href="#" class="font-medium text-white hover:text-blue-50">
            Pricing
          </a></li>
        <li><a href="#" class="font-medium text-white hover:text-blue-50">
            About
          </a></li>

      </ul>

    </div>
  </footer>
</div>
<script>
  const menuButton = document.querySelector("#menubutton");
  menuButton.addEventListener("click", () => {
    const menu = document.querySelector("#menu")
    if (menu.classList.contains("invisible")) {
      menu.classList.remove("invisible")
    } else {
      menu.classList.add("invisible")
    }
  });
</script>