<div>
    <header class="flex justify-between">
    <div class="flex gap-2 p-4">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="rgba(29, 78, 216)" viewBox="0 0 24 24"><path d="M10 2h-2v-2h2v2zm-8 6h-2v2h2v-2zm0-5c0-.551.448-1 1-1h4v-2h-4c-1.657 0-3 1.343-3 3v4h2v-4zm0 8h-2v2h2v-2zm14-11h-2v2h2v-2zm-3 0h-2v2h2v-2zm-11 14h-2v2h2v-2zm18-2.042h-2.277l-2.36 5.386-2.883-7.93-2.442 5.78-2.071-4.14-1.129 1.966h-2.838v6.98h16v-8.042zm-16 .063h2.259l1.768-3.081 1.935 3.866 2.589-6.126 2.899 7.976 1.62-3.697h2.93v-6.959h-16v8.021zm10 11.979h2v-2h-2v2zm8-11h2v-2h-2v2zm-20 8v-4h-2v4c0 1.657 1.343 3 3 3h4v-2h-4c-.552 0-1-.449-1-1zm20 0c0 .551-.448 1-1 1h-4v2h4c1.657 0 3-1.343 3-3v-4h-2v4zm0-11h2v-2h-2v2zm0 6h2v-2h-2v2zm2-13c0-1.657-1.343-3-3-3h-4v2h4c.552 0 1 .449 1 1v4h2v-4zm-16 21h2v-2h-2v2zm3 0h2v-2h-2v2z"/></svg>
        <div class="text-lg font-bold">Computer Company</div>
    </div>
    <nav class="px-24 py-4 space-x-12">
    <a href="#" class="font-medium text-blue-700 hover:text-gray-900">
        Product
    </a>
    <a href="#" class="font-medium text-gray-500 hover:text-gray-900">
        Features
    </a>
    <a href="#" class="font-medium text-gray-500 hover:text-gray-900">
        Pricing
    </a>
    <a href="#" class="font-medium text-gray-500 hover:text-gray-900">
        About
    </a>
    </nav>

    </header>
    <main>

    <section class="relative flex flex-col justify-between p-24 pt-12 pb-12 bg-blue-700">
    <h1 class="w-1/2 pt-8 pb-8 text-6xl font-bold text-white">
        The headline
        <br /> for the site
    </h1>
    <p class="w-1/2 pt-2 pb-4 text-gray-200">
        Anim aute id magna aliqua ad ad non deserunt sunt. Qui irure qui lorem
        cupidatat commodo. Elit sunt amet fugiat veniam occaecat fugiat
        aliqua.
    </p>
    <div class="pt-4 pb-4">
        <input class="box-border w-56 p-4 mr-4 rounded-md" placeholder="Your email address""></input>
        <button class="p-4 text-base font-semibold text-gray-900 bg-yellow-300 rounded-lg hover:bg-yellow-400">
            Start your 7-day trial
        </button>
    </div>
    <div class="absolute inset-y-0 right-0 w-1/2">
        <img class="object-cover w-full h-full" src="/images/stockphoto-1.jpg"/>
    </div>
    </section>
    <section>
        <h2>Features</h2>
        <div></div>
    </section>
    <section>

        <h2>Pricing</h2>
        <div></div>
    </section>
    <section>

        <h2>Testimonials</h2>
        <div></div>
    </section>
    <section>

        <h2>FAQ</h2>
        <div></div>
    </section>
    </main>
    <footer></footer>
</div>