<div>
  <header class="max-w-5xl pt-20 pb-20 ml-auto mr-auto text-center">
    <div class="grid grid-cols-2">
      <div class="flex flex-col items-center gap-4 pt-8">
        <div>
          <h1 class="p-4 font-bold text-blue-600 text-7xl">THE BOOK TITLE</h1>
          <h2 class="text-3xl font-bold text-blue-400">BY JOHN DOE</h2>
          <h3 class="p-4 text-lg text-gray-600">A marketing subtitle describing the book in more detail</h3>
        </div>
        <div class="w-2/3">
          <div class="font-semibold text-gray-500">
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam lobortis fringilla
            lorem eget fermentum.
            Maecenas quis lectus ut leo viverra condimentum
            malesuada ullamcorper nisl."</div>
          <div class="italic font-semibold">Wall Street Journal</div>
        </div>
        <div class="w-2/3">
          <div class="font-semibold text-gray-500">
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam lobortis fringilla
            lorem eget fermentum.
            Maecenas quis lectus ut leo viverra condimentum
            malesuada ullamcorper nisl."</div>
          <div class="italic font-semibold">Wall Street Journal</div>

        </div>
      </div>

      <!-- Book picture-->
      <img class="w-full" src="/images/book.png" alt="The Book Title by John Doe" />
      <div></div>
    </div>
    <div>

    </div>
  </header>
  <!-- Links to bookstores-->
  <section class="h-40 bg-red-700">

  </section>
  <section>

  </section>
  <footer>

  </footer>
</div>