<div>
  <header class="max-w-5xl pt-20 pb-20 ml-auto mr-auto text-center">
    <div class="grid grid-cols-2">
      <div class="flex flex-col items-center gap-4 pt-8">
        <div>
          <h1 class="p-4 font-bold text-blue-600 text-7xl">THE BOOK TITLE</h1>
          <h2 class="text-3xl font-bold text-blue-400">BY JOHN DOE</h2>
          <h3 class="p-4 text-lg text-gray-600">A marketing subtitle describing the book in more detail</h3>
        </div>
        <div class="w-2/3">
          <div class="font-semibold text-gray-500">
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam lobortis fringilla
            lorem eget fermentum.
            Maecenas quis lectus ut leo viverra condimentum
            malesuada ullamcorper nisl."</div>
          <div class="italic font-semibold">Wall Street Journal</div>
        </div>
        <div class="w-2/3">
          <div class="font-semibold text-gray-500">
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam lobortis fringilla
            lorem eget fermentum.
            Maecenas quis lectus ut leo viverra condimentum
            malesuada ullamcorper nisl."</div>
          <div class="italic font-semibold">Wall Street Journal</div>

        </div>
      </div>

      <!-- Book picture-->
      <img class="w-full" src="/images/book.png" alt="The Book Title by John Doe" />
      <div></div>
    </div>
    <div>

    </div>
  </header>
  <!-- Links to bookstores-->
  <section class="h-40 p-8 bg-blue-700">
    <!-- <h4 class="text-lg text-center text-white">Get your copy</h4> -->
    <div class="flex justify-between max-w-5xl p-8 m-auto">
      <div class="text-white">
        Amazon.com
      </div>
      <div class="text-white">
        Amazon.com
      </div>
      <div class="text-white">
        Amazon.com
      </div>
      <div class="text-white">
        Amazon.com
      </div>
      <div class="text-white">
        Amazon.com
      </div>
    </div>
  </section>

  <!-- About the book-->
  <section class="p-12">
    <h4 class="text-6xl text-center">About the book</h4>
  </section>

  <!-- What people are saying -->
  <section class="p-12 bg-gray-200">
    <h4 class="text-6xl text-center">What people are saying</h4>
  </section>

  <!-- About the author-->
  <section class="p-12">
    <h4 class="text-6xl text-center">About the author</h4>
  </section>

  <section class="flex flex-col bg-white p-28">
    <div class="flex flex-col items-center m-auto text-center md:text-left">
      <p class="text-2xl">Join the newsletter and get a free chapter!</p>
      <div class="flex flex-col gap-2 pt-8 pb-4 lg:flex-row">
        <input class="box-border p-4 border-2 rounded-md lg:w-56" placeholder="Your email address""></input>
                <button class="p-4 text-base font-semibold text-gray-900 bg-yellow-300 rounded-lg  hover:bg-yellow-400">
        Subscribe
        </button>
      </div>
    </div>
  </section>
  <footer>

  </footer>
</div>