<div>
  <header class="max-w-5xl pt-20 pb-20 ml-auto mr-auto text-center">
    <div class="grid grid-cols-1 gap-10 md:grid-cols-2 md:gap-0">
      <div class="flex flex-col items-center gap-4 pt-8">
        <div>
          <h1 class="p-4 font-bold text-blue-600 text-7xl">THE BOOK TITLE</h1>
          <h2 class="text-3xl font-bold text-blue-400">BY JOHN DOE</h2>
          <h3 class="p-4 text-lg text-gray-600">A marketing subtitle describing the book in more detail</h3>
        </div>
        <div class="w-2/3">
          <div class="font-semibold text-gray-500">
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam lobortis fringilla
            lorem eget fermentum.
            Maecenas quis lectus ut leo viverra condimentum
            malesuada ullamcorper nisl."</div>
          <div class="italic font-semibold">Wall Street Journal</div>
        </div>
        <div class="w-2/3">
          <div class="font-semibold text-gray-500">
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam lobortis fringilla
            lorem eget fermentum.
            Maecenas quis lectus ut leo viverra condimentum
            malesuada ullamcorper nisl."</div>
          <div class="italic font-semibold">Wall Street Journal</div>

        </div>
      </div>

      <!-- Book picture-->
      <img class="w-3/4 m-auto md:w-full" src="/images/book.png" alt="The Book Title by John Doe" />
      <div></div>
    </div>
    <div>

    </div>
  </header>
  <!-- Links to bookstores-->
  <section class="relative top-0 z-30 p-8 bg-blue-600 md:sticky ">
    <div class="flex flex-col justify-between max-w-5xl gap-6 m-auto text-center md:flex-row">
      <div class="text-white">
        Amazon.com
      </div>
      <div class="text-white">
        ebooks.com
      </div>
      <div class="text-white">
        Apple Books
      </div>
      <div class="text-white">
        Google Play
      </div>
    </div>
  </section>
  <!-- </div> -->

  <!-- About the book-->
  <section class="pt-12 pb-12">
    <div class="grid max-w-6xl grid-cols-1 m-auto lg:grid-cols-2">
      <div class="p-4 text-gray-900 md:p-12">
        <h4 class="pb-8 pl-4 text-5xl">About the book</h4>
        <div class="w-32 h-1 mb-8 ml-4 bg-blue-300"></div>
        <h5 class="p-4 text-2xl font-semibold">Summary</h5>
        <p class="p-4">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam pretium, odio at faucibus molestie, nulla
          lacus
          egestas lacus, id ullamcorper magna lacus id neque. Vivamus quis augue ex. Nullam vitae quam hendrerit,
          sollicitudin lectus vitae, efficitur arcu.
        </p>
        <p class="p-4"> Morbi convallis, augue vitae maximus mattis, ligula urna dignissim
          massa, in sollicitudin dolor nisi non velit. Duis vel faucibus diam. Vestibulum sodales dolor sit amet elit
          placerat, vitae tempus lectus tempor. Aliquam eros quam, porttitor eu sem vel, placerat aliquet libero. Etiam
          nec
          lectus neque.
        </p>
      </div>
      <div class="p-4 lg:pt-40 md:p-12">
        <h5 class="p-4 text-2xl font-semibold">Table of contents</h5>
        <ol class="pl-4">
          <li class="flex items-center justify-between pt-2 pb-2 text-lg border-b-2 border-dotted">
            <div>
              <span>Chapter One</span>
              <div class="text-sm text-gray-500">
                Subtitle with more info
              </div>
            </div>
            <div>3</div>
          </li>
          <li class="flex items-center justify-between pt-2 pb-2 text-lg border-b-2 border-dotted">
            <div>
              <span>Chapter Two</span>
              <div class="text-sm text-gray-500">
                Subtitle with more info
              </div>
            </div>
            <div>20</div>
          </li>
          <li class="flex items-center justify-between pt-2 pb-2 text-lg border-b-2 border-dotted">
            <div>
              <span>Chapter Three</span>
              <div class="text-sm text-gray-500">
                Subtitle with more info
              </div>
            </div>
            <div>55</div>
          </li>
          <li class="flex items-center justify-between pt-2 pb-2 text-lg border-b-2 border-dotted">
            <div>
              <span>Chapter Four</span>
              <div class="text-sm text-gray-500">
                Subtitle with more info
              </div>
            </div>
            <div>82</div>
          </li>
          <li class="flex items-center justify-between pt-2 pb-2 text-lg border-b-2 border-dotted">
            <div>
              <span>Chapter Five</span>
              <div class="text-sm text-gray-500">
                Subtitle with more info
              </div>
            </div>
            <div>109</div>
          </li>
          <li class="flex items-center justify-between pt-2 pb-2 text-lg border-b-2 border-dotted">
            <div>
              <span>Chapter Six</span>
              <div class="text-sm text-gray-500">
                Subtitle with more info
              </div>
            </div>
            <div>142</div>
          </li>
        </ol>
      </div>
    </div>
  </section>

  <!-- What people are saying -->
  <section class="pt-12 pb-20">
    <!-- <h4 class="text-6xl text-center">What people are saying</h4> -->
    <div class="grid max-w-6xl grid-cols-1 gap-4 pl-12 pr-12 m-auto md:grid-cols-3">
      <div class="relative h-96">
        <!--Photo by <a href="https://unsplash.com/@wocintechchat?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Christina @ wocintechchat.com</a> on <a href="https://unsplash.com/s/photos/ceo?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
  -->
        <img class="absolute z-20 object-cover w-full h-full hover:z-0"
          src="/images/christina-wocintechchat-com-0Zx1bDv5BNY-unsplash.jpg" />
        <div
          class="absolute top-0 left-0 z-10 flex flex-col items-center justify-center w-full h-full bg-black bg-opacity-50 pointer-events-none">
          <p class="p-2 text-2xl text-center text-white pointer-events-none ">
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam lobortis fringilla lorem eget fermentum."
          </p>
          <p class="text-lg font-thin text-white">Some Reader, CEO of Company</p>
        </div>
      </div>
      <div class="relative h-96">
        <!--https://unsplash.com/photos/_5_CBVCLBsY-->
        <img class="absolute z-20 object-cover w-full h-full hover:z-0"
          src="/images/christina-wocintechchat-com-_5_CBVCLBsY-unsplash.jpg" />
        <div
          class="absolute top-0 left-0 z-10 flex flex-col items-center justify-center w-full h-full bg-black bg-opacity-50 pointer-events-none">
          <p class="p-2 text-2xl text-center text-white pointer-events-none ">
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam lobortis fringilla lorem eget fermentum."
          </p>
          <p class="text-lg font-thin text-white">Some Reader, CEO of Company</p>
        </div>
      </div>
      <div class="relative h-96">
        <!-- Photo by <a href="https://unsplash.com/@fotosushi?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Foto  Sushi</a> on <a href="https://unsplash.com/s/photos/ceo?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>-->
        <img class="absolute z-20 object-cover w-full h-full hover:z-0"
          src="/images/foto-sushi-6anudmpILw4-unsplash.jpg" />
        <div
          class="absolute top-0 left-0 z-10 flex flex-col items-center justify-center w-full h-full bg-black bg-opacity-50 pointer-events-none">
          <p class="p-2 text-2xl text-center text-white pointer-events-none ">
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam lobortis fringilla lorem eget fermentum."
          </p>
          <p class="text-lg font-thin text-white">Some Reader, CEO of Company</p>
        </div>
      </div>
      <div class="relative h-96">
        <img class="absolute z-20 object-cover w-full h-full hover:z-0"
          src="/images/bbh-singapore-BUK-z0LrGBo-unsplash.jpg" />
        <div
          class="absolute top-0 left-0 z-10 flex flex-col items-center justify-center w-full h-full bg-black bg-opacity-50 pointer-events-none">
          <p class="p-2 text-2xl text-center text-white pointer-events-none ">
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam lobortis fringilla lorem eget fermentum."
          </p>
          <p class="text-lg font-thin text-white">Some Reader, CEO of Company</p>
        </div>
      </div>
      <div class="relative h-96">
        <img class="absolute z-20 object-cover w-full h-full hover:z-0"
          src="/images/linkedin-sales-solutions-pAtA8xe_iVM-unsplash.jpg" />
        <div
          class="absolute top-0 left-0 z-10 flex flex-col items-center justify-center w-full h-full bg-black bg-opacity-50 pointer-events-none">
          <p class="p-2 text-2xl text-center text-white pointer-events-none ">
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam lobortis fringilla lorem eget fermentum."
          </p>
          <p class="text-lg font-thin text-white">Some Reader, CEO of Company</p>
        </div>
      </div>
      <div class="relative h-96">
        <img class="absolute z-20 object-cover w-full h-full hover:z-0"
          src="/images/etty-fidele-AzVexpHvuKY-unsplash.jpg" />
        <div
          class="absolute top-0 left-0 z-10 flex flex-col items-center justify-center w-full h-full bg-black bg-opacity-50 pointer-events-none">
          <p class="p-2 text-2xl text-center text-white pointer-events-none ">
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam lobortis fringilla lorem eget fermentum."
          </p>
          <p class="text-lg font-thin text-white">Some Reader, CEO of Company</p>
        </div>
      </div>
    </div>
  </section>

  <!-- About the author-->
  <div style="background-image: url('/images/splatter01.svg');" class="bg-center bg-no-repeat bg-contain">
    <section class="max-w-6xl p-6 pt-20 pb-12 m-auto md:p-12">
      <!-- <object type="image/svg+xml" id="splatter01" style="fill: red" data="/images/splatter01.svg"></object> -->
      <div class="grid grid-cols-1 gap-20 lg:grid-cols-2">
        <div class="flex-grow">
          <h4 class="pb-8 text-4xl">About the author, John Doe</h4>
          <div class="w-32 h-1 mb-8 bg-blue-300"></div>
          <p class="pt-4 pb-4">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam pretium, odio at faucibus molestie, nulla
            lacus egestas lacus, id ullamcorper magna lacus id neque. Vivamus quis augue ex. Nullam vitae quam
            hendrerit,
            sollicitudin lectus vitae, efficitur arcu.
          </p>
          <p class="pt-4 pb-4">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam pretium, odio at faucibus molestie, nulla
            lacus egestas lacus, id ullamcorper magna lacus id neque. Vivamus quis augue ex. Nullam vitae quam
            hendrerit,
            sollicitudin lectus vitae, efficitur arcu.
          </p>

        </div>
        <div class="p-3 bg-white shadow-md rotate-3">
          <img class="m-auto" src="/images/christian-buehner-84E44EdD18o-unsplash.jpg" />

        </div>
      </div>

  </div>


  <!--Photo by <a href="https://unsplash.com/@christianbuehner?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">christian buehner</a> on <a href="https://unsplash.com/s/photos/man?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
  -->
  </section>

  <section class="flex flex-col p-6 bg-white lg:p-28">
    <div class="flex flex-col items-center max-w-6xl m-auto text-center md:text-left">
      <p class="text-2xl">Join the newsletter and get a free chapter!</p>
      <div class="flex flex-col w-full gap-2 pt-8 pb-4 lg:flex-row">
        <input class="box-border w-full p-4 border-2 rounded-md lg:w-72" placeholder="Your email address""></input>
        <button class="w-full p-4 text-base font-semibold text-gray-900 bg-blue-300 rounded-lg  lg:w-40 hover:bg-blue-400">
        Subscribe
        </button>
      </div>
    </div>
  </section>
  <footer class="p-20 pt-10">
    <ul class="flex justify-between max-w-2xl m-auto">
      <li class="flex items-center gap-2">
        <a aria-label="twitter" class="text-gray-500" href="#">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-twitter" width="20"
            height="20" viewBox="0 0 24 24" stroke-width="1" stroke="rgb(107, 114, 128)" fill="none"
            stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path
              d="M22 4.01c-1 .49 -1.98 .689 -3 .99c-1.121 -1.265 -2.783 -1.335 -4.38 -.737s-2.643 2.06 -2.62 3.737v1c-3.245 .083 -6.135 -1.395 -8 -4c0 0 -4.182 7.433 4 11c-1.872 1.247 -3.739 2.088 -6 2c3.308 1.803 6.913 2.423 10.034 1.517c3.58 -1.04 6.522 -3.723 7.651 -7.742a13.84 13.84 0 0 0 .497 -3.753c-.002 -.249 1.51 -2.772 1.818 -4.013z" />
          </svg>
        </a>
      </li>
      <li class="flex items-center gap-2">
        <a aria-label="twitter" class="text-gray-500" href="#">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-linkedin" width="20"
            height="20" viewBox="0 0 24 24" stroke-width="1" stroke="rgb(107, 114, 128)" fill="none"
            stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <rect x="4" y="4" width="16" height="16" rx="2" />
            <line x1="8" y1="11" x2="8" y2="16" />
            <line x1="8" y1="8" x2="8" y2="8.01" />
            <line x1="12" y1="16" x2="12" y2="11" />
            <path d="M16 16v-3a2 2 0 0 0 -4 0" />
          </svg>
        </a>
      </li>
      <li class="flex items-center gap-2">
        <a aria-label="twitter" class="text-gray-500" href="#">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-facebook" width="20"
            height="20" viewBox="0 0 24 24" stroke-width="1" stroke="rgb(107, 114, 128)" fill="none"
            stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M7 10v4h3v7h4v-7h3l1 -4h-4v-2a1 1 0 0 1 1 -1h3v-4h-3a5 5 0 0 0 -5 5v2h-3" />
          </svg>
        </a>
      </li>
      <li class="flex items-center gap-2">
        <a aria-label="twitter" class="text-gray-500" href="#">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-instagram" width="20"
            height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="rgb(107, 114, 128)" fill="none"
            stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <rect x="4" y="4" width="16" height="16" rx="4" />
            <circle cx="12" cy="12" r="3" />
            <line x1="16.5" y1="7.5" x2="16.5" y2="7.501" />
          </svg>
        </a>
      </li>
    </ul>
  </footer>
</div>