<style>
  @media screen and (min-width: 768px) {
    .slanted {
      clip-path: polygon(10% 0, 100% 0, 100% 100%, 0 100%);
    }

  }
</style>
<div class="bg-gray-50">
  <header class="flex flex-col w-full md:flex-row">

    <div class="flex flex-col items-start justify-center w-full min-h-full md:flex-row">
      <div class="flex justify-end flex-1 w-full min-h-full pl-10 pr-10 md:pr-0">
        <div class="min-h-full pt-20 pb-20" style="max-width: 40rem;">
          <h1 class="text-5xl font-bold lg:text-6xl ">The Awesome and Super Interesting Newsletter</h1>
        </div>
      </div>

      <div class="flex-1 w-full min-h-full pl-10 pr-10 text-white bg-blue-600 md:pl-0 slanted">
        <div class="pt-20 pb-20 md:pl-20 xl:pl-32" style="max-width: 40rem;">
          <h2 class="text-3xl font-bold lg:text-4xl">
            Get the latest news on the topic of this newsletter delivered into your mailbox
          </h2>
          <div class="flex flex-col items-center m-auto text-center md:text-left">
            <div class="flex flex-col w-full gap-2 pt-8 pb-4 lg:flex-row">
              <input class="box-border w-full p-4 border-2 rounded-md lg:w-72" placeholder="Your email address""></input>
        <button class="w-full p-4 text-base font-semibold text-white bg-blue-300 rounded-lg  lg:w-40 hover:bg-blue-400">
              Subscribe
              </button>
            </div>
            <div class="w-full text-sm text-left text-gray-300">12456 subscribers — 104 issues</div>
          </div>
          <div class="pt-10 text-lg">
            Check out our <a class="text-green-400 underline" href="#">latest issue</a>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- </div> -->

  <!-- Example of newsletter content -->
  <!-- <section class="min-w-full p-10 pt-20 pb-20 bg-gray-100 lg:pl-10 lg:pr-10">
    <div class="m-auto max-w-7xl">
      <h3 class="text-4xl font-semibold">Learn the ins and outs of the topic</h3>
      <p class="pt-4 pb-4">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam pretium, odio at faucibus molestie, nulla
        lacus egestas lacus, id ullamcorper magna lacus id neque. Vivamus quis augue ex. Nullam vitae quam hendrerit,
        sollicitudin lectus vitae, efficitur arcu.
      </p>

    </div>
  </section> -->

  <section class="p-10 pt-20 pb-20 bg-gray-800 text-gray-50">
    <div class="m-auto max-w-7xl">
      <h3 class="text-4xl font-semibold">Loved by <span class="text-green-400">123,456</span> subscribers</h3>
      <div class="grid grid-cols-1 gap-10 pt-10 md:grid-cols-2 lg:grid-cols-3">
        <div class="p-5 bg-gray-900 rounded-md shadow-md">
          <div class="flex items-center">
            <img class="object-cover w-12 h-12 rounded-full"
              src="/images/linkedin-sales-solutions-pAtA8xe_iVM-unsplash.jpg" alt="Ryan Bayer" />
            <div class="flex flex-col pl-4">
              <span class="text-sm font-semibold">Ryan Bayer</span>
              <span class="text-sm">@ryanbayer</span>
            </div>
          </div>
          <p class="pt-5 pb-10 text-lg">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam pretium, odio at faucibus molestie, nulla
            lacus egestas lacus, id ullamcorper magna lacus id neque.
          </p>
        </div>
        <div class="p-5 bg-gray-900 rounded-md shadow-md">
          <div class="flex items-center">
            <img class="object-cover w-12 h-12 rounded-full" src="/images/etty-fidele-AzVexpHvuKY-unsplash.jpg"
              alt="Janet Jones" />
            <div class="flex flex-col pl-4">
              <span class="text-sm font-semibold">Janet Jones</span>
              <span class="text-sm">@janetjones</span>
            </div>
          </div>
          <p class="pt-5 pb-10 text-lg">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam pretium, odio at faucibus molestie, nulla
            lacus egestas lacus, id ullamcorper magna lacus id neque.
          </p>
        </div>
        <div class="p-5 bg-gray-900 rounded-md shadow-md">
          <div class="flex items-center">
            <img class="object-cover w-12 h-12 rounded-full"
              src="/images/christina-wocintechchat-com-_5_CBVCLBsY-unsplash.jpg" alt="Sandra Sayer" />
            <div class="flex flex-col pl-4">
              <span class="text-sm font-semibold">Sandra Sayer</span>
              <span class="text-sm">@sandrasayer</span>
            </div>
          </div>
          <p class="pt-5 pb-10 text-lg">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam pretium, odio at faucibus molestie, nulla
            lacus egestas lacus, id ullamcorper magna lacus id neque.
          </p>
        </div>
        <div class="p-5 bg-gray-900 rounded-md shadow-md">
          <div class="flex items-center">
            <img class="object-cover w-12 h-12 rounded-full" src="/images/bbh-singapore-BUK-z0LrGBo-unsplash.jpg"
              alt="Christina Dior" />
            <div class="flex flex-col pl-4">
              <span class="text-sm font-semibold">Christina Dior</span>
              <span class="text-sm">@christinadior</span>
            </div>
          </div>
          <p class="pt-5 pb-10 text-lg">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam pretium, odio at faucibus molestie, nulla
            lacus egestas lacus, id ullamcorper magna lacus id neque.
          </p>
        </div>
        <div class="p-5 bg-gray-900 rounded-md shadow-md">
          <div class="flex items-center">
            <img class="object-cover w-12 h-12 rounded-full" src="/images/foto-sushi-6anudmpILw4-unsplash.jpg"
              alt="James Donovan" />
            <div class="flex flex-col pl-4">
              <span class="text-sm font-semibold">James Donovan</span>
              <span class="text-sm">@jamesdonovan</span>
            </div>
          </div>
          <p class="pt-5 pb-10 text-lg">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam pretium, odio at faucibus molestie, nulla
            lacus egestas lacus, id ullamcorper magna lacus id neque.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="p-10 pt-20 pb-20">
    <h3 class="text-4xl font-semibold">Content by industry veterans</h3>
    <div class="flex flex-col items-center gap-10 pt-10 sm:items-left sm:flex-row">
      <div class="w-60">
        <img class="object-cover w-60 h-60" src="/images/christian-buehner-84E44EdD18o-unsplash.jpg" />
        <h3 class="pt-4 pb-1 text-2xl font-semibold">Jack Win</h3>
        <p class="text-md">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam pretium, odio at faucibus molestie, nulla
          lacus egestas lacus, id ullamcorper magna lacus id neque.
        </p>
      </div>
      <div class="w-60">
        <img class="object-cover w-60 h-60" src="/images/christina-wocintechchat-com-0Zx1bDv5BNY-unsplash.jpg" />
        <h3 class="pt-4 pb-1 text-2xl font-semibold">Christina Won</h3>
        <p class="text-md">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam pretium, odio at faucibus molestie, nulla
          lacus egestas lacus, id ullamcorper magna lacus id neque.
        </p>
      </div>
    </div>
  </section>

  <section class="p-10 lg:p-28">
    <div class="max-w-2xl m-auto">
      <div class="flex flex-col w-full gap-2 pt-8 pb-4 md:flex-row">
        <input class="box-border w-full p-4 border-2 rounded-md" placeholder="Your email address""></input>
        <button class="p-4 text-base font-semibold text-white bg-blue-600 rounded-lg  md:w-72 hover:bg-blue-400">
        Subscribe
        </button>
      </div>
      <div class="w-full text-sm text-left text-gray-500">12456 subscribers — 104 issues</div>
    </div>
  </section>
  <footer class="p-20 pt-10">
  </footer>

</div>