<style>
  .slanted {
    clip-path: polygon(20% 0, 100% 0, 100% 100%, 0 100%);
  }
</style>
<div class="bg-gray-50">
  <header class="flex w-full justify-evenly">
    <div class="p-20">
      <h1 class="text-6xl font-bold">The Awesome and Super Interesting Newsletter</h1>

    </div>
    <div class="p-20 text-white bg-blue-600 slanted">
      <h2 class="pl-10 text-4xl font-bold">
        Get the latest news on the topic of this newsletter delivered into your mailbox
      </h2>
    </div>
  </header>

  <!-- Signup -->
  <section class="relative top-0 z-30 p-8 bg-blue-200 md:sticky">
  </section>

  <!-- About the book-->
  <section class="pt-12 pb-12">
  </section>

  <!-- What people are saying -->
  <section class="pt-12 pb-20">
  </section>

  <!-- About the author-->
  <section class="max-w-6xl p-6 pt-20 pb-12 m-auto md:p-12">
  </section>

  <section class="flex flex-col p-6 lg:p-28">
  </section>
  <footer class="p-20 pt-10">
  </footer>
</div>