<style>
  @media screen and (min-width: 768px) {
    .slanted {
      clip-path: polygon(10% 0, 100% 0, 100% 100%, 0 100%);
    }

  }
</style>
<div class="bg-gray-50">
  <header class="flex flex-col w-full md:flex-row">

    <div class="flex flex-col items-start justify-center w-full md:flex-row">
      <div class="flex-1 w-full min-h-full">
        <div class="p-10 pt-20 pb-20 ml-auto" style="max-width: 45rem;">
          <h1 class="text-5xl font-bold lg:text-6xl ">The Awesome and Super Interesting Newsletter</h1>
        </div>
      </div>

      <div class="flex-1 w-full min-h-full text-white bg-blue-600 slanted">
        <div class="p-10 pt-20 pb-20 md:pl-20 lg:pl-32" style="max-width: 45rem;">
          <h2 class="text-3xl font-bold lg:text-4xl">
            Get the latest news on the topic of this newsletter delivered into your mailbox
          </h2>
          <div class="flex flex-col items-center m-auto text-center md:text-left">
            <div class="flex flex-col w-full gap-2 pt-8 pb-4 lg:flex-row">
              <input class="box-border w-full p-4 border-2 rounded-md lg:w-72" placeholder="Your email address""></input>
        <button class="w-full p-4 text-base font-semibold text-white bg-blue-300 rounded-lg  lg:w-40 hover:bg-blue-400">
              Subscribe
              </button>
            </div>

          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- </div> -->

  <!-- Example of newsletter content -->
  <section class="min-w-full p-20 bg-gray-100">
    <div class="m-auto max-w-7xl">
      <h3 class="text-4xl font-semibold">What to expect</h3>
      <p class="pt-4 pb-4">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam pretium, odio at faucibus molestie, nulla
        lacus egestas lacus, id ullamcorper magna lacus id neque. Vivamus quis augue ex. Nullam vitae quam hendrerit,
        sollicitudin lectus vitae, efficitur arcu.
      </p>
      <p class="pt-4 pb-4">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam pretium, odio at faucibus molestie, nulla
        lacus egestas lacus, id ullamcorper magna lacus id neque. Vivamus quis augue ex. Nullam vitae quam hendrerit,
        sollicitudin lectus vitae, efficitur arcu.
      </p>

    </div>
  </section>

  <!--  -->
  <section class="pt-12 pb-12">
  </section>

  <!-- What people are saying -->
  <section class="pt-12 pb-20">
  </section>

  <!-- About the author-->
  <section class="max-w-6xl p-6 pt-20 pb-12 m-auto md:p-12">
  </section>

  <section class="flex flex-col p-6 lg:p-28">
  </section>
  <footer class="p-20 pt-10">
  </footer>

</div>